.navbar {
    justify-content: end;
    position: fixed;
}

.navbar-menu {
    height: fit-content !important;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    justify-content: end;
    padding: 0;
}

.navbar-menu a {
    padding: 12px;
    color: black;
}

.navbar-menu a:hover {
    background-color: rgb(78, 67, 124);
    color: rgb(228, 227, 213);
    border-radius: 24px;
    transition: .5s ease-in-out;
}

.portfolio-container {
    margin-top: 72px;
}

.portfolio-container section:nth-child(even) {
    background-color: rgb(228, 227, 213);
}

.about-me,
.technical-skills,
.soft-skills,
.projects,
.testimonials,
.contact-me {
    padding: 48px 72px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-detail,
.user-image {
    width: 50%;
}

.user-detail h1 {
    padding-bottom: 12px;
    letter-spacing: 1.5px;
}

.user-image img,
.project-data div img {
    width: 80%;
    border-radius: 48px;
    margin: auto;
}

.common-card {
    width: 350px;
    margin: 36px 12px;
    padding-bottom: 24px;
}

.card-body {
    height: 124px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: clip;
    padding: 0 24px 0 12px;
    margin-bottom: 12px;
    align-self: center;
    word-break: break-word;
}

.project-data>div:nth-child(n) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.project-data>div:nth-child(even) {
    flex-direction: row-reverse;
}

.project-data .project-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-data>div,
.project-data>h1 {
    padding: 24px;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-left {
    animation: slideInFromLeft 1s forwards;
}

.slide-right {
    animation: slideInFromRight 1s forwards;
}

.quotes {
    margin: 48px 12px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote>p {
    text-align: center;
    padding-bottom: 12px;
}

.quote cite {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.contact-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.contact-details div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    text-align: center;
    width: 35%;
}

.contact-details div address {
    font-weight: 600;
    margin: 24px;
}

.footer {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.footer svg {
    margin: 24px;
}

@media screen and (max-width: 767px) {

    .navbar-menu {
        box-shadow: 4px 0px 8px 4px darkgray;
    }

    .about-me,
    .technical-skills,
    .soft-skills,
    .projects,
    .testimonials,
    .contact-me {
        padding: 12px;
    }

    .about-me {
        flex-direction: column-reverse;
        align-items: center;
    }

    .user-detail,
    .user-image {
        width: 100%;
    }

    .user-detail h1,
    .user-detail p,
    .skill-chips {
        text-align: center;
        padding: 24px;
    }

    .card-body {
        scrollbar-width: thin;
        -webkit-box-orient: initial;
        overflow: auto;
    }

    .project-data>div:nth-child(n) {
        flex-direction: column;
        align-items: center;
    }

    .project-data,
    .project-data>div>div {
        margin-top: 12px;
        text-align: center;
    }

    .project-data>h1 {
        width: 100%;
    }

    .project-data>div>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quotes {
        height: 450px;
    }

    .contact-details {
        flex-direction: column;
        align-items: center;
    }

    .contact-details>div {
        width: 100%;
    }

    .footer {
        justify-content: center;
        align-items: center;
    }
}