.navbar {
    justify-content: end;
}

.navbar-menu {
    height: fit-content !important;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    justify-content: end;
    padding: 0;
}

.navbar-menu a {
    padding: 12px;
    color: black;
}

.navbar-menu a:hover {
    background-color: rgb(78, 67, 124);
    color: rgb(228, 227, 213);
    border-radius: 24px;
    transition: .5s ease-in-out;
}

.about-me {
    display: flex;
    align-items: center;
    justify-items: space-between;
    padding: 96px;
}

.user-detail,
.user-image {
    width: 50%;
}

.user-detail h1 {
    padding-bottom: 12px;
    letter-spacing: 1.5px;
}

.user-image img {
    width: 80%;
    border-radius: 48px;
    margin: auto;
}

@media screen and (max-width: 767px) {

    .about-me {
        flex-direction: column-reverse;
        align-items: center;
        padding: 12px;
    }

    .user-detail,
    .user-image {
        width: 100%;
    }

    .user-detail h1,
    .user-detail p,
    .skill-chips {
        text-align: center;
        padding: 24px;
    }
}