.navbar {
    justify-content: end;
    background-color: rgba(228, 227, 213, 0.3);
}

.navbar-menu{
    height: fit-content !important;
    background-color: rgba(78, 67, 124, 0.2);
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    justify-content: end;
    padding: 0;
}

.navbar-menu li {
    padding: 12px;
}

.navbar-menu li:hover {
    background-color: rgb(78, 67, 124);
    border-radius: 24px;
    color : rgb(228 227 213);
    transition: .5s ease-in-out;
}